<!DOCTYPE html>
<html>
    <head>
        <title>My page</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body> 
            
        
		<h1 id="msg">Main page</h1>
		<form id="form">
			<input type='text' name='name'> <br>
			<input type='text' name='age'> <br>
			<input id="submitButton" type='button' value='send data'>
		</form>
					
		<input id='button' type='button' value='Press me!'> <br>
		<input id='postButton' type='button' value='Post'>
			


        <script type="text/javascript" src="script.js"></script>
    </body>
</html>