<!DOCTYPE html>
<html>
    <head>
        <title>My page</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body> 
		
		<img src="deadpool.jpg">
        
		<form id="postForm">
			<input type='text' name='name'> <br>
			<input type='text' name='job'> <br>
			<input id="postData" type='button' value='Post data'>
		</form><br>
			
		<form id="getForm">
			<input type='text' name='index'> <br>
			<input id='getData' type='button' value='Get data'> <br>
			<label id="dataLabel">Empty</label>
		</form><br>

		<form id="getAllForm">
			<input id='getAllData' type='button' value='Get all data'> <br>
			<label id="allDataLabel">Empty</label><br>
		</form>


        <script type="text/javascript" src="script.js"></script>
    </body>
</html>